/* Global styles */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

/* Button styles */

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}



/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar.active{
    right: 0;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a.mouse-over:hover{
    color: #088178;
}

#navbar li a:hover::after,
#navbar li a.mouse-over.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar li a.mouse-over.active{
    color: #088178;
}

#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}

#user{
    font-weight: 600;
    color: #188178;
    margin-top: 5px;
    margin-left: 30px;
}

#user i {
    color: #000;
    margin-right: 5px;
    font-size: 18px;
}



/* Home page Start  */

#hero{
    background-image: url("../images/hero4.png");
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero a{
    background-image: url('../images/button.png');
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 20px 15px;
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    background-color: #fddde4;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    display: inline-block;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s;
    position: relative;
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}

#product1 .pro img:hover{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    color: rgb(240, 117, 18);
    font-size: 12px;
    user-select: none;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .confirmation {
    position: absolute;
    right: 50px;
    bottom: 60px;
    background: #f1f1f1;
    border-radius: 4px;
    height: 45px;
    align-items: center;
    padding: 0 10px;
    display: none;
    transition: all 0.3s ease;
}

#product1 .pro .confirmation p {
    margin-right: 5px;
}


#product1 .pro .icon-container {
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.activeColor {
    color: #088178;
    border: 1px solid #088178;
}

.color {
    color: #088178;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/banners/b2.jpg');
    height: 30vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #ef3636;
}

#banner button:hover{
    background-color: #008178;
    color: #fff;
}

/* Newsletter  */

#newsletter {
    background-image: url("/project%20final%20de%20poles/public/assets/images/blog/shop.jpg");
    height: 350px;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding-top: 80px;
    position: relative;
}

#newsletter h2 {
    color: #fff;
    font-size: 36px;
    margin: 0;
}

#newsletter p {
    color: #fff;
    font-size: 18px;
    margin: 10px 0 35px 0;
}

#newsletter a {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 12px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}

#newsletter a:hover {
    background: #088178;
    color: #fff;
}







/* Shop Page Start */

#page-header{
    background-image: url('../images/banners/b1.jpg');
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #fff;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* Blog Page Start */

#page-header.blog-header{
    background-image: url("../images/banners/b19.jpg");
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
    z-index: 10;
}

#blog img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 6px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
    position: absolute;
    top: -48px;
    left: 0px;
    font-size: 90px;
    font-weight: 700;
    color: #c9cbce;
}



/* About Page Start */

#page-header.about-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/about/know_us.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#page-header.about-header h2 {
    font-size: 3rem;
    letter-spacing: 2px;
    color: #fff;
}

#page-header.about-header p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 300;
    color: #fff;
}

#about-head {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px 20px;
    background-color: #f9f9f9;
}

#about-head img {
    width: 45%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about-head div {
    flex: 1;
    padding-left: 20px;
}

#about-head h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

#about-head p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    text-align: justify;
}

#about-head abbr {
    font-size: 1rem;
    color: #555;
    text-decoration: none;
    font-weight: 400;
    display: block;
    margin-top: 20px;
}

marquee {
    margin-top: 20px;
    padding: 10px;
    background-color: #eee;
    font-size: 1rem;
    color: #333;
}

#about-app {
    text-align: center;
    padding: 60px 20px;
    background-color: #f0f0f0;
}

#about-app h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #333;
}

#about-app h1 a {
    color: #088178;
    text-decoration: none;
}

#about-app h1 a:hover {
    text-decoration: underline;
}

#about-app .video {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#about-app .video video {
    width: 100%;
    height: auto;
    border-radius: 20px;
}



/* Contact Form Start*/

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}


/*Sign in form start*/

.form-container-main {
    width: 60%;
    height: 500px;
    padding: 20px 50px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.left-section, .right-section {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.form-title {
    margin-bottom: 15px;
    font-size: 30px;
}

.left-section pre {
    font-size: 16px;
    line-height: 20px;
}

.button {
    outline: none;
    border: none;
    background: #088178;
    color: #fff;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
    text-decoration: none;
}

.form-image {
    width: 400px;
    margin-top: 20px;
}

form {
    width: 100%;
    text-align: center;
}

.input-field {
    height: 50px;
    width: 100%;
    background: #fdfdfd;
    margin: 10px 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #088178;
    overflow: hidden;
    transition: all 0.3s;
}

.input-field:focus-within {
    border: 2px solid #062927;
}


.input-field i {
    color: #444;
    padding: 0 10px 0 20px;
}

.input-field input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #444;
    font-size: 18px;
}

.left-section .sign-in-error {
    color: red !important;
    margin-top: 10px;
    font-size: 25px;
}

.left-section .social-media {
    margin: 20px 0;
    color: white;
}

.social-media-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-platforms .social-icon {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border: 2px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s;
    color: #444;
}

.social-media-platforms .social-icon:hover {
    border: 2px solid #062927;
    color: #062927;
}

@media (min-width: 1024px) and (max-width: 1400px){
    .form-container-main {
        width: 80%;
    }
}


/* Sign Up Form Start*/

.signup-container {
    border: 1px solid #ccc;
    width: 60%;
    height: 500px;
    border-radius: 5px;
    padding: 20px 50px;
    margin: 100px auto;
}

.signup-form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.signup-left-panel {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signup-title {
    margin-bottom: 15px;
    font-size: 30px;
}

.signup-left-panel pre {
    font-size: 16px;
    line-height: 20px;
}

.signup-btn {
    outline: none;
    border: none;
    background: #088178;
    color: #fff;
    padding: 10px 30px;
    margin: 30px auto 0 auto;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
    text-decoration: none;
    display: block;
}

.signup-btn:hover {
    background: #062927;
}

.signup-image {
    width: 500px;
}

.signup-right-panel {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.signup-right-panel form {
    width: 100%;
}

.signup-input-field {
    height: 50px;
    width: 100%;
    background: #fdfdfd;
    margin: 20px 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #088178;
    overflow: hidden;
    transition: all 0.3s;
}

.signup-input-field:focus-within {
    border: 2px solid #062927;
}

.signup-input-field i {
    color: #444;
    padding: 0 10px 0 20px;
}

.signup-input-field input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: #444;
    font-size: 18px;
}

.signup-right-panel .signup-social-media {
    margin: 20px 0;
    color: #fff;
    text-align: center;
}

.signup-social-platforms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-social-platforms .signup-social-icon {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border: 2px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.3s;
    color: #444;
    font-size: 18px;
}

.signup-social-platforms .signup-social-icon:hover {
    border: 2px solid #062927;
    color: #062927;
}


/* Basket Page Start */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* the styles are in the Basket Page!!  */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* Admin form  */

.product-form {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 16px;
    color: #088178;
    display: block;
    margin: 0 0 8px 15px;
    text-align: left;
}

.form-input, .form-select, .form-textarea {
    width: 100%;
    padding: 12px 18px;
    font-size: 16px;
    color: #444;
    border: 2px solid #088178;
    border-radius: 50px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-input:focus, .form-select:focus, .form-textarea:focus {
    border-color: #062927;
}

.form-textarea {
    resize: vertical;
}

.form-input[type="file"] {
    padding: 10px;
}

.form-submit {
    background-color: #088178;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
}

.form-submit:hover {
    background-color: #062927;
}

@media (max-width: 1024px) {
    .product-form {
        width: 80%;
    }
}


/* Admin Table*/

.admin-product-table {
    margin: 50px auto;
    max-width: 90%;
    border: 2px solid #ddd;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.all-product {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.admin-product-table table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.admin-product-table thead {
    position: sticky;
    top: 0;
    background-color: #f4f4f4;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

.admin-product-table thead tr {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.admin-product-table th, 
.admin-product-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.admin-product-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.admin-product-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-product-table tbody tr:hover {
    background-color: #f1f1f1;
}

.admin-product-table td img {
    display: block;
    max-width: 50px;
    height: auto;
}

.admin-product-table td button {
    width: 120px;
    display: block;
    margin-top: 5px; 
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
    color: white;
    flex: 1;
}

.admin-product-table td .edit-btn {
    background-color: #088178;
}

.admin-product-table td .edit-btn:hover {
    background-color: #06665f;
}

.admin-product-table td .delete-btn {
    background-color: red;
}

.admin-product-table td .delete-btn:hover {
    background-color: darkred;
}



/*Footer Start*/

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #ccc;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;;
    color: #222;
}
footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .copyright{
    width: 100%;
    text-align: center;
}



/*////////////////////////////////////////////////////*/
/* Media query start */
/*////////////////////////////////////////////////////*/

@media (min-width: 1400px) and (max-width: 1700px) {

    /* basket icon  */

    #product1 .pro .confirmation {
        right: 30px;
        padding: 0 8px;
        height: 40px;
    }
    
    #product1 .pro .confirmation * {
        font-size: 14px;
    }

    #product1 .pro .icon-container {
        width: 40px;
        height: 40px;
        background-color: #f1f1f1;
        position: absolute;
        right: 10px;
        bottom: 20px;
    }
}


@media (min-width: 1024px) and (max-width: 1400px) {

    #header {
        justify-content: center;
        padding: 20px 0 20px 10px;
    }

    #navbar li {
        padding: 0 19px;
    }

    
    #user {
        margin-left: 0px;
    }

    /* Blog Page  */

    #blog {
        padding: 150px 50px 0;
    }

    /* About Page  */

    #about-head img {
        border-radius: 10px;
        height: 450px;
    }

    /* Sign up Form  */
    .signup-container {
        width: 80%;
    }

     /* basket icon  */

    #product1 .pro .confirmation {
        right: 15px;
        height: 35px;
        padding: 0 5px;
    }

    #product1 .pro .icon-container {
        width: 35px;
        height: 35px;
        right: 10px;
    }

    #product1 .pro .confirmation * {
        font-size: 13px;
    }

    
}



/* Tablet view (768px to 1024px) */

@media (max-width: 1024px) {

    #header {
        justify-content: center;
        padding: 20px;
    }

    #navbar li {
        padding: 0 12px;
    }

    #header img.logo {
        display: none;
    }

    #user {
        margin-left: 10px;
    }

    /* Blog Page  */

    #blog {
        padding: 150px 50px 0;
    }

    /* About Page  */

    #about-head {
        flex-direction: column;
        justify-content: center;
    }

    #about-head img {
        width: 100%;
        border-radius: 10px;
    }

    #about-head h2 {
        text-align: center;
    }

    /* Contact Page  */

    #form-details {
        padding: 20px;
    }

    /* Sign in form  */

    .form-container-main {
        width: 80%;
        height: auto;
        padding: 100px;
    }

    .form-inner-container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
    }

    .left-section {
        order: 2;
        margin-top: 30px;
    }

    .right-section {
        order: 1;
    }

    .form-image {
        width: 300px;
    }
    
    /* Sign up Form  */

    .signup-container {
        width: 80%;
        height: auto;
        padding: 100px;
    }

    .signup-form-container {
        flex-direction: column;
    }

    .signup-left-panel, .signup-right-panel {
        width: 100%;
    }

    .signup-image {
        width: 300px;
    }

    /* Admin Table  */

    .admin-product-table td form button {
        display: block;
        width: 60px;
        padding: 5px;
        border-radius: 3px;
        margin-top: 5px;
    }

     /* basket icon  */

    #product1 .pro .confirmation {
        right: 8px;
        height: 35px;
        padding: 0 5px;
    }

    #product1 .pro .icon-container {
        width: 35px;
        height: 35px;
        right: 8px;
        bottom: 20px;
    }

    #product1 .pro .confirmation * {
        font-size: 13px;
    }
}




@media (max-width: 799px){

    .section-p1 {
        padding: 40px;
    }

    #header {
        justify-content: space-between;
        padding: 20px 30px;
    }

    #header img.logo {
        display: inline;
    }


    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #navbar #lg-bag{
        display: none;
    }

    #navbar #user {
        margin: 0px;
        padding-left: 8px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        cursor: pointer;
    }

    #close{
        position: absolute;
        top: 30px ;
        left: 30px;
        color: #222;
        font-size: 24px;
        display: initial;
        text-decoration: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    /* Blog Page  */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        flex-direction: column;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
    }

    #blog .blog-details {
        width: 100%;
        margin-top: 30px;
    }

    #blog p {
        text-align: justify;
    }

    /* contact page */
    #form-details {
        padding: 40px 10px;
        margin: 30px 10px;
        flex-direction: column;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    #form-details .people {
        display: flex;
        flex-wrap: wrap;
    }

    #form-details .people div {
        padding-bottom: 0px;
        margin: 20px 10px;
    }

    
    /* cart page  */


    #cart table td:nth-child(5) input {
        width: 69px;
    }

    /* Detail Page  */

    



    /* Footer  */

    footer {
        justify-content: center;
    }

    footer .col {
        width: 40%;
        margin: 30px;
    }

    #about-head {
        flex-direction: column;
        gap: 20px;
    }

    #about-head img {
        width: 100%;
    }

    #about-head div {
        padding-left: 0;
    }

    #about-app .video {
        width: 100%;
    }


    /* Sign in Form  */
    .form-container-main {
        width: 90%;
        padding: 30px;
    }

    .form-inner-container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        margin-bottom: 20px;
    }

    .form-title {
        font-size: 24px;
    }

    .form-image {
        width: 200px;
    }

    .input-field input {
        font-size: 16px;
    }

    .social-media-platforms .social-icon {
        width: 40px;
        height: 40px;
    }


    /* Sign up Form  */

    .signup-container {
        width: 90%;
        padding: 30px;
    }

    .signup-form-container {
        flex-direction: column;
    }

    .signup-left-panel, .signup-right-panel {
        width: 100%;
        margin-bottom: 20px;
    }

    .signup-title {
        font-size: 24px;
    }

    .signup-image {
        width: 200px;
    }

    .signup-input-field input {
        font-size: 16px;
    }

    .signup-social-platforms .signup-social-icon {
        width: 40px;
        height: 40px;
    }

    /* Admin page  */

    .product-form {
        width: 90%;
    }

    /* Admin Table  */

    .admin-product-table table {
        font-size: 14px;
    }

    .admin-product-table th, 
    .admin-product-table td {
        padding: 8px 10px;
    }

    .admin-product-table td form button {
        padding: 3px;
    }

    /* newletter  */

    #newsletter {
        height: 300px;
        padding-top: 60px;
    }

    #newsletter h2 {
        font-size: 28px;
    }

    #newsletter p {
        font-size: 16px;
        margin: 10px 0 20px 0;
    }

    #newsletter a {
        width: 180px;
        padding: 10px 18px;
        font-size: 16px;
    }
}









/* media query for mobile device */

@media (max-width: 477px){
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    #navbar {
        width: 200px;
    }

    #blog p {
        text-align: justify;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #hero{
        padding: 0 20px;
        background-position: 60%;
    }

    #feature{
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 20px;
    }

    #banner3 .banner-box {
        width: 100%;
    }

    /* blog page */
    #blog {
        padding: 100px 20px 0 20px;
    }
    
    #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }

    #blog .blog-details{
        width: 100%;
    }

    /* about page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    /* contact page  */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        flex-direction: column;
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /* cart page  */

    #cart-add {
        flex-direction: column;
    }

    #coupon{
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }

    /* Admin Table  */

    .admin-product-table table {
        display: block;
        overflow-x: auto;
    }

    .admin-product-table th, 
    .admin-product-table td {
        white-space: nowrap;
    }

    /* Newsletter  */


    #newsletter {
        height: 250px;
        padding-top: 50px;
    }

    #newsletter h2 {
        font-size: 24px;
    }

    #newsletter p {
        font-size: 14px;
        margin: 10px 0 15px 0;
    }

    #newsletter a {
        width: 150px;
        padding: 8px 16px;
        font-size: 14px;
    }

    /* Basket Icon  */

    #product1 .pro .confirmation {
        right: 50px;
        bottom: 60px;
        height: 40px;
    }

    #product1 .pro .confirmation * {
        font-size: 14px;
    }

    #product1 .pro .icon-container {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
    }
}